// color settings
@background-color: #f2f2f2;
@white:            #ffffff;
@header-color1:    #a7c7dc;
@header-color2:    #85b2d3;

// custom formatting settings
@width:   700px;
@padding: 15px;

// commonly used formatting
.bold-text {font-weight: bold}
.text-shadow {text-shadow: 2px 2px #888;}
.pad-sides {
    padding-left: @padding;
    padding-right: @padding;
}
.border {
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
}


// column position settings
@col2: 145px;
@col3: 260px;
@col4: 380px;

// gradient proc
.gradient (@color1; @color2) {
    background: -webkit-linear-gradient(@color1, @color2);
    background: -o-linear-gradient(@color1, @color2);
    background: -moz-linear-gradient(@color1, @color2);
    background: linear-gradient(@color1, @color2);
}

body {
    background-color: @background-color;
}

.converter {
    width: @width;
    background-color: @white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 1px #dddddd;
}

.header {
    height: 40px;
    line-height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: @white;
    .bold-text;
    .text-shadow;
    .pad-sides;
    .gradient(@header-color1, @header-color2);
}

.contents {
    .pad-sides;
    padding-bottom: @padding;
    hr {
        border-color: #dddddd;
    }
}

.row {
    width: 670px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    position: relative;
    div {position: absolute;}
    .column2 {left: @col2}
    .column3 {left: @col3}
    .column4 {left: @col4}
    .left {
        width: 85px;
        height: 40px;
        line-height: 40px;
        text-align: right;
        padding-right: 30px;
        .bold-text;
    }
    .right {
        position: relative;
        width: 565px;
        height: 33px;
        line-height: 33px;
        margin: 0px;
        border: 0px;
        .currency {
            width: 48px;
            background: #eeeeee;
            margin: 0px;
            padding: 0px;
            height: 33px;
            line-height: 33px;
            text-align: center;
            position: relative;
            float: left;
            .border;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right-width: 0px;
        }
        .text-field {
            margin: 0px;
            padding-left: 15px;
            height: 33px;
            width: 499px;
            position: relative;
            float: left;
            .border;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
.data    div {top:    0px;}
.heading div {bottom: 0px;}

.heading {.bold-text;}

.left {float: left;}
.right {float: right;}
